<div class="inmodal">
    <div class="modal-body">
        <div class="white-bg">
            <div class="text-center p-md">
                <h2 class="font-bold">优惠信息</h2>
                <div class="cyan-gray-bg p-sm">
                    注册有好礼！
                         1.首次注册用户送 RMB10；
                         2.如被邀请注册，则送RMB30，同时邀请者送RMB10；

                    充值有好礼！

               - 充值150以上(含)，充多少送多少；
               - 充值150以内，充多少送一半；
               - 同时，被邀请用户首次充值，邀请者也将：

                         3.1 被邀请用户充值150以上(含)，邀请者将获得同等数额的充值；
                         3.2 被邀请用户充值150以内，邀请者将获得同等数额一半的充值；
                </div>
            </div>
            <div class="widget-text-box text-center">
                <button type="button" class="btn btn-block btn-primary" ng-click="inviteDialogCancel()">确定</button>
            </div>
        </div>
    </div>
</div>
