<div class="ticket-body" ng-show="!showTicket">
    <div class="ticket-form">
        <div class="form-group m-t">
            <input type="text" class="form-control input-sm small-important" name="new_ticket_title" placeholder="需要支持? 提交工单给我们." autocomplete="off" ng-model="newTicket.title" required>
        </div>
        <div class="form-group" ng-if="newTicket.title">
            <textarea class="form-control small-important" name="new_ticket_content" placeholder="工单详细内容" rows="4" ng-model="newTicket.content" textareaTab required></textarea>
        </div>
        <div class="text-center" style="padding-bottom: 15px;" ng-if="newTicket.title">
            <button type="submit" class="btn btn-block btn-sm btn-primary" ng-disabled="right_bar_form.$invalid">提交</button>
        </div>
    </div>
    <div class="m-md text-center" ng-show="tickets.length !== 0">
        <ul class="learn-classify small ticket-classify" ng-init="ticketClassify = 'all'">
            <li>
                <a ng-click="ticketClassify = 'all'" ng-class="{'active': ticketClassify === 'all'}">所有</a>
            </li>
            <li>
                <a ng-click="ticketClassify = false" ng-class="{'active': ticketClassify === false}">未解决</a>
            </li>
            <li>
                <a ng-click="ticketClassify = true" ng-class="{'active': ticketClassify === true}">已关闭</a>
            </li>
        </ul>
    </div>
    <div class="p-lg text-center" ng-if="tickets.length === 0">
        <p class="fa fa-ticket"></p>
        <p class="p-w-md small font-oblique">你还没有提交过工单.</p>
    </div>
    <ul class="ticket-list" ng-if="tickets.length !== 0">
        <li ng-if="ticket.is_resolved === ticketClassify || ticketClassify === 'all'" ng-repeat="ticket in tickets">
            <a ui-sref="home.tickets({'ud': ticket.uuid})" target="_blank">
                <div class="small pull-right m-t-md"><span class="fa fa-circle" ng-class="{'text-navy': !ticket.is_resolved, 'text-gray': ticket.is_resolved}"></span></div>
                <h5 class="text-white m-t-none m-b-xs text-ellipsis">{{ ticket.title | limitTo: 20 }}<span ng-if="ticket.title.length > 20">...</span></h5>
                <p class="font-oblique small m-b-xs">{{ ticket.created_at | convertZone | date : 'yyyy-MM-dd HH:mm:ss' }}</p>
                <div class="ticket-content-text font-oblique child-p-no-margins">{{ ticket.content | limitTo: 40 }}<span ng-if="ticket.content.length > 40">...</span></div>
            </a>
        </li>
    </ul>
</div>

<div class="ticket-box animated fadeInRight" ng-if="showTicket">
    <div class="ticket-content" scroll-glue>
        <div class="ticket-title row">
            <div class="col-xs-2">
                <span class="fa fa-angle-left" ng-click="ticketDetailBack()"></span>
                <button type="button" class="btn btn-xs btn-primary m-t" ng-if="!ticket.is_resolved" ng-click="ticketMakeResolved(ticket.uuid)">关闭</button>
                <button type="button" class="btn btn-xs btn-default m-t" ng-if="ticket.is_resolved" disabled>已关闭</button>
            </div>
            <div class="col-xs-10 text-right">
                <div class="text-white m-t-xs m-b font-bold">{{ ticket.title }}</div>
                <div class="text-white child-p-no-margins" ng-if="!ticket.content" ></div>
                <div class="text-white child-p-no-margins" ng-if="ticket.content" bind-html-compile="ticket.content | summernoteImage"></div>
                <small class="font-oblique m-b-xs">{{ ticket.created_at | convertZone | date : 'yyyy-MM-dd HH:mm:ss' }}</small>
            </div>
        </div>

        <div class="chat-element p-b-none m-t-md" ng-repeat="replie in ticket.replies" ng-class="{true: 'right'}[replie.created_by.uuid === user.uuid]">
            <a ng-class="{true: 'pull-left', false: 'pull-right'}[replie.is_admin]">
                <img gravatar-src="replie.created_by.gravatar" class="img-circle" width="24" height="24">
            </a>
            <div class="small font-oblique text-right m-t-xs m-r-lg m-b-xs" ng-if="!replie.is_admin">{{ replie.created_at | convertZone | date : 'yyyy-MM-dd HH:mm:ss' }} - {{ user.user.nickname }}</div>
            <div class="small font-oblique text-left m-t-xs m-r-lg m-b-xs" ng-if="replie.is_admin">admin - {{ replie.created_at | convertZone | date : 'yyyy-MM-dd HH:mm:ss' }}</div>
            <div class="media-body m-l-lg m-r-lg text-left">
                <div class="text-navy" ng-class="{true: 'pull-left', false: 'pull-right'}[replie.is_admin]" bind-html-compile="replie.content | summernoteImage"></div>
            </div>
        </div>
    </div>
    <div class="ticket-reply" ng-if="!ticket.is_resolved">
        <input type="text" class="form-control ticket-reply-msg" placeholder="回复" name="reply_msg" ng-model="replyMsg.content" autocomplete="off" required>
        <button type="submit" class="ticket-reply-btn"><span class="fa fa-reply"></span></button>
    </div>
    <div class="ticket-reply" ng-if="ticket.is_resolved">
        <input type="text" class="form-control ticket-reply-msg" placeholder="已关闭的工单无法继续回复." disabled="disabled">
    </div>
</div>
