<div class="col-xs-12 col-md-12 profile-box p-md">
    <h2 class="m-t-sm">登录日志</h2>
    <div id="vertical-timeline" class="vertical-container dark-timeline" ng-if="loginLogs && loginLogs.length !== 0">
        <div class="vertical-timeline-block" ng-repeat="log in loginLogs.logs">
            <div class="vertical-timeline-icon cyan-gray-bg">
                <i class="fa fa-circle" ng-class="{'text-navy': log.login_or_logout === 'login', 'text-warning': log.login_or_logout === 'logout'}"></i>
            </div>
            <div class="vertical-timeline-content">
                <h2 ng-if="log.login_or_logout === 'login'">登录</h2>
                <h2 ng-if="log.login_or_logout === 'logout'">退出</h2>
                <p ng-if="log.login_or_logout === 'login'">{{ log.ip_address }} - {{ log.location }}</p>
                <span class="vertical-date">
                    <small>{{ log.created_at | convertZone | date : 'yyyy-MM-dd HH:mm:ss' }}</small>
                </span>
            </div>
        </div>
    </div>
</div>
