<div class="col-xs-12 col-md-8 profile-box p-md">
    <h2 class="m-t-sm">修改别名</h2>
    <form role="form" name="nickname_form" ng-submit="setNicknameForm()" novalidaten>
        <p>请填写一个别名。</p>
        <div class="form-group">
            <input type="text" class="form-control profile-form-control" name="nickname" placeholder="输入别名" ng-model="nickname" ng-change="setNicknameError = false; setNicknameSuccess = false;" ng-minlength="2" ng-maxlength="32" autofocus required>
        </div>
        <div class="space-15" ng-show="nickname_form.nickname.$invalid && nickname_form.submitted">
            <small class="text-danger" ng-show="nickname_form.nickname.$error.required">请输入一个别名.</small>
            <small class="text-danger" ng-show="nickname_form.nickname.$error.minlength">别名太短, 应不少于 2 个字符.</small>
            <small class="text-danger" ng-show="nickname_form.nickname.$error.maxlength">别名太长, 应不超过 32 个字符.</small>
        </div>
        <div class="text-danger p-b-sm animated fadeIn small" ng-if="nickname_form.nickname.$valid && setNicknameError && !setNicknameSuccess">
            {{ setNicknameError }}
        </div>
        <div class="text-navy p-b-sm animated fadeIn small" ng-if="nickname_form.nickname.$valid && setNicknameSuccess && !setNicknameError">
            别名设置成功.
        </div>
        <button type="submit" class="ladda btn btn-lg btn-danger btn-w-m profile-submit-btn" ladda="setNicknameLoading">设置</button>
    </form>
</div>
