<div class="col-xs-12 col-md-12 profile-box p-md">
    <h2 class="m-t-sm">操作日志</h2>
    <p ng-if="!operateLogs || operateLogs.length === 0">没有记录.</p>
    <div id="vertical-timeline" class="vertical-container dark-timeline" ng-if="operateLogs && operateLogs.length !== 0">
        <div class="vertical-timeline-block" ng-repeat="log in operateLogs">
            <div class="vertical-timeline-icon cyan-gray-bg">
                <i class="fa fa-circle text-navy"></i>
            </div>
            <div class="vertical-timeline-content">
                <h2>{{ log.title }}</h2>
                <span class="vertical-date">
                    <small>{{ log.created_at | convertZone | date : 'yyyy-MM-dd HH:mm:ss' }}</small>
                </span>
            </div>
        </div>
    </div>
</div>
