<div class="col-xs-12 col-md-8 profile-box p-md">
    <h2 class="m-t-sm">修改密码</h2>
    <div class="profile-box" ng-show="changePassSuccess">
        <h3 class="text-navy">修改密码成功, 请重新登录.</h3>
        <button class="btn btn-lg btn-w-m btn-danger profile-submit-btn" ui-sref="auth.login">立即登录</button>
    </div>
    <div class="profile-box" ng-show="!changePassSuccess">
        <form role="form" name="change_pass_form" ng-submit="changePassForm()" novalidate>
            <div class="form-group">
                <input type="password" class="form-control profile-form-control" name="old_password" placeholder="当前密码" ng-model="old_pass" ng-maxlength="256" ng-change="changePassError = false" required>
            </div>
            <div class="space-15" ng-show="change_pass_form.old_password.$invalid && change_pass_form.submitted">
                <small class="text-danger" ng-show="change_pass_form.old_password.$error.required">请输入旧的密码.</small>
                <small class="text-danger" ng-show="change_pass_form.old_password.$error.maxlength">输入超过 256 个字符.</small>
            </div>
            <div class="form-group">
                <input type="password" class="form-control profile-form-control" name="new_password" placeholder="新密码" ng-model="new_pass" ng-minlength="6" ng-maxlength="256" required>
            </div>
            <div class="space-15" ng-show="change_pass_form.new_password.$invalid && change_pass_form.submitted">
                <small class="text-danger" ng-show="change_pass_form.new_password.$error.required">请输入新的密码.</small>
                <small class="text-danger" ng-show="change_pass_form.new_password.$error.minlength">新密码不少于 6 个字符.</small>
                <small class="text-danger" ng-show="change_pass_form.new_password.$error.maxlength">输入超过 256 个字符.</small>
            </div>
            <div class="text-danger p-b-sm animated fadeIn small" ng-if="changePassError">
                旧密码验证失败, 请重新输入.
            </div>
            <button type="submit" class="btn btn-lg btn-w-m btn-danger profile-submit-btn">立即修改</button>
        </form>
    </div>
</div>
