<nav class="study-left-nav">
    <ul class="study-left-nav__bar">
        <li ng-controller="StudyDetailController" ng-click="studyDetail()">
            <a><i class="fa fa-bars"></i></a>
        </li>
        <li>
            <a ng-click="showStudyQaBox()">
                <i class="fa fa-question-circle" ng-class="{'text-navy': showStudyQa}"></i>
                <span ng-if="MyAllMessages.qa.count !== 0" class="label label-warning reply-qa-count">{{ MyAllMessages.qa.count }}</span>
            </a>
        </li>
    </ul>
</nav>
