<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 animated fadeInLeft">
                <h2>学在云中</h2>
                <p class="m-t-lg">Fuvism 使用“云计算”技术, 为用户构建真实的学习/开发环境。所学内容、所编代码、数据都将保存在私有“云”环境，在任何地方，任何时间快速编程。</p>
            </div>
            <div class="col-xs-12 col-sm-6 animated fadeInRight">
                <img src="assets/icons/cloud.svg" class="img-responsive m-t-lg" width="100%">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 animated fadeInLeft">
                <img src="assets/icons/bill.svg" class="img-responsive m-t-lg" width="100%">
            </div>
            <div class="col-xs-12 col-sm-6 animated fadeInRight">
                <h2>按秒计费</h2>
                <p class="m-t-lg">Fuvism 采用按秒计费方式，学多少花多少，最大限度满足学员学习的弹性需求，让用户无需一次性支付高昂的学习费用。</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 animated fadeInLeft">
                <h2>一对一支持</h2>
                <p class="m-t-lg">Fuvism 工单系统，实现一问一答。所有问题都将通过工单系统分配给专业相符的一线工程师，做到有问必答，有答必专的高端学习支持！</p>
            </div>
            <div class="col-xs-12 col-sm-6 animated fadeInRight">
                <img src="assets/icons/ticket.svg" class="img-responsive m-t-md" width="100%">
            </div>
        </div>
    </div>
</section>
