<div class="hidden-xs hidden-sm planets-jumbotron">
    <div class="bubbles">
        <div class="bubble-container" style="left: 64%; top: 83%; opacity: 0.06; animation-delay: 3s;">
            <div class="bubble" style="width: 20px; height: 20px;"></div>
        </div>
        <div class="bubble-container" style="left: 42%; top: 11%; opacity: 0.12; animation-delay: 5s;">
            <div class="bubble" style="width: 20px; height: 20px;"></div>
        </div>
        <div class="bubble-container" style="left: 5%; top: 62%; opacity: 0.12; animation-delay: 11s;">
            <div class="bubble" style="width: 20px; height: 20px;"></div>
        </div>
        <div class="bubble-container" style="left: 61%; top: 7%; opacity: 0.12; animation-delay: 9s;">
            <div class="bubble" style="width: 30px; height: 30px;"></div>
        </div>
        <div class="bubble-container" style="left: 68%; top: 55%; opacity: 0.06; animation-delay: 5s;">
            <div class="bubble" style="width: 20px; height: 20px;"></div>
        </div>
        <div class="bubble-container" style="left: 55%; top: 45%; opacity: 0.06; animation-delay: 0s;">
            <div class="bubble" style="width: 30px; height: 30px;"></div>
        </div>
        <div class="bubble-container" style="left: 2%; top: 35%; opacity: 0.06; animation-delay: 6s;">
            <div class="bubble" style="width: 30px; height: 30px;"></div>
        </div>
        <div class="bubble-container" style="left: 25%; top: 22%; opacity: 0.06; animation-delay: 7s;">
            <div class="bubble" style="width: 20px; height: 20px;"></div>
        </div>
        <div class="bubble-container" style="left: 0%; top: 67%; opacity: 0.12; animation-delay: 10s;">
            <div class="bubble" style="width: 30px; height: 30px;"></div>
        </div>
        <div class="bubble-container" style="left: 60%; top: 94%; opacity: 0.12; animation-delay: 5s;">
            <div class="bubble" style="width: 20px; height: 20px;"></div>
        </div>
        <div class="bubble-container" style="left: 22%; top: 44%; opacity: 0.12; animation-delay: 4s;">
            <div class="bubble" style="width: 20px; height: 20px;"></div>
        </div>
        <div class="bubble-container" style="left: 27%; top: 86%; opacity: 0.06; animation-delay: 10s;">
            <div class="bubble" style="width: 20px; height: 20px;"></div>
        </div>
        <div class="bubble-container" style="left: 99%; top: 3%; opacity: 0.06; animation-delay: 5s;">
            <div class="bubble" style="width: 20px; height: 20px;"></div>
        </div>
        <div class="bubble-container" style="left: 0%; top: 90%; opacity: 0.12; animation-delay: 11s;">
            <div class="bubble" style="width: 30px; height: 30px;"></div>
        </div>
        <div class="bubble-container" style="left: 88%; top: 94%; opacity: 0.12; animation-delay: 7s;">
            <div class="bubble" style="width: 30px; height: 30px;"></div>
        </div>
        <div class="bubble-container" style="left: 20%; top: 42%; opacity: 0.12; animation-delay: 8s;">
            <div class="bubble" style="width: 30px; height: 30px;"></div>
        </div>
        <div class="bubble-container" style="left: 87%; top: 91%; opacity: 0.12; animation-delay: 4s;">
            <div class="bubble" style="width: 20px; height: 20px;"></div>
        </div>
        <div class="bubble-container" style="left: 74%; top: 67%; opacity: 0.06; animation-delay: 0s;">
            <div class="bubble" style="width: 30px; height: 30px;"></div>
        </div>
        <div class="bubble-container" style="left: 100%; top: 5%; opacity: 0.12; animation-delay: 10s;">
            <div class="bubble" style="width: 30px; height: 30px;"></div>
        </div>
        <div class="bubble-container" style="left: 95%; top: 47%; opacity: 0.12; animation-delay: 10s;">
            <div class="bubble" style="width: 30px; height: 30px;"></div>
        </div>
        <div class="bubble-container" style="left: 87%; top: 5%; opacity: 0.12; animation-delay: 1s;">
            <div class="bubble" style="width: 30px; height: 30px;"></div>
        </div>
        <div class="bubble-container" style="left: 50%; top: 66%; opacity: 0.12; animation-delay: 15s;">
            <div class="bubble" style="width: 30px; height: 30px;"></div>
        </div>
    </div>
    <div class="circle-container">
        <div class="center">
            <img src="assets/icons/logo.svg" width="82px" height="82px">
        </div>
        <div class="orbit" id="circle-1">
            <div class="circle-container-inner"></div>
        </div>
        <div class="orbit" id="circle-2">
            <div class="rotating-circle" id="blue">
                <span class="info">
                    <i class="fa fa-code"></i>
                </span>
            </div>
            <div class="rotating-circle" id="violet">
                <span class="info">
                    <i class="fa fa-keyboard-o"></i>
                </span>
            </div>
            <div class="rotating-circle" id="orange">
                <span class="info">
                    <i class="fa fa-file-text-o"></i>
                </span>
            </div>
        </div>
        <div class="orbit" id="circle-3">
            <div class="rotating-circle" id="first"></div>
            <div class="rotating-circle" id="second"></div>
            <div class="rotating-circle" id="third"></div>
        </div>
        <div class="orbit" id="circle-4">
            <div class="rotating-circle" id="first"></div>
            <div class="rotating-circle" id="second"></div>
            <div class="rotating-circle" id="third"></div>
            <div class="rotating-circle" id="fourth"></div>
        </div>
        <div class="orbit" id="circle-5">
            <div class="circle-container-inner">
                <div class="rotating-circle"></div>
            </div>
        </div>
        <div class="pulse animated"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="one-left">
            <h1>一个新颖的编程学习平台<br/>沉浸式、一对一、全实操</h1>
            <p>
                <font size='3'>在 Fuvism 中学习，犹如加入一个专业的开发团队。你将作为一名程序员，接受"大牛"的指导，一起完成每行代码，每个任务，每个项目的开发。熏陶在编程气氛中，学习编程！</font>
            </p>
            <a class="btn btn-white btn-lg" ui-sref="learn">进入学习</a>
        </div>
        <div class="one-right">&nbsp;</div>
    </div>
</div>
