<img class="featured-image" src="assets/images/workspace.png">
<div class="container">
    <div class="three-main">
        <div class="row">
            <div class="three-title">
                <h2>优秀的学习体验</h2>
                <p>Fuvism 提供了怎样的学习体验</p>
            </div>
        </div>
        <div class="row">
            <div class="three-left">
                <div class="three-box">
                    <div class="row">
                        <div class="three-icon">
                            <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
                            <svg width="42px" height="42px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
                                <title>scale-icon</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                                    <g id="desktop" transform="translate(-249.000000, -1771.000000)" stroke="#31B3A4" stroke-width="2">
                                        <g id="differentiators" transform="translate(0.000000, 1556.000000)">
                                            <g id="info" transform="translate(249.000000, 209.000000)">
                                                <g id="scale" transform="translate(1.000000, 0.000000)">
                                                    <g id="scale-icon" transform="translate(0.000000, 7.000000)">
                                                        <path d="M17.5,39.1666667 L0.833333333,39.1666667 L0.833333333,22.5 L17.5,22.5 L17.5,39.1666667 Z" id="Stroke-213"></path>
                                                        <path d="M0.833333333,17.5 L0.833333333,0.833333333 L17.5,0.833333333" id="Stroke-214" stroke-linecap="round"></path>
                                                        <path d="M22.5,0.833333333 L39.1666667,0.833333333 L39.1666667,17.5" id="Stroke-215" stroke-linecap="round"></path>
                                                        <path d="M39.1666667,22.5 L39.1666667,39.1666667 L22.5,39.1666667" id="Stroke-216" stroke-linecap="round"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="three-content">
                            <p class="title">仿真工作环境</p>
                            <p class="details">
                                Fuvism 的学习环境，仿真了真实的工作(开发)环境而构建。使得每一次学习，都和工作环境拥有一样的开发界面，一样的执行过程，一样的输出展示，在学习中尽早适应工作需要。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="three-box">
                    <div class="row">
                        <div class="three-icon">
                            <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
                            <svg width="42px" height="42px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
                                <title>everything-in-one-icon</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                                    <g id="desktop" transform="translate(-248.000000, -1915.000000)" stroke="#31B3A4" stroke-width="2">
                                        <g id="differentiators" transform="translate(0.000000, 1556.000000)">
                                            <g id="info" transform="translate(249.000000, 209.000000)">
                                                <g id="all-in-one" transform="translate(0.000000, 141.000000)">
                                                    <g id="everything-in-one-icon" transform="translate(0.000000, 10.000000)">
                                                        <path d="M29.165,17.5 C29.165,21.1833333 26.18,24.1666667 22.4983333,24.1666667 C18.8166667,24.1666667 15.8316667,21.1833333 15.8316667,17.5 C15.8316667,13.8183333 18.8166667,10.8333333 22.4983333,10.8333333 C26.18,10.8333333 29.165,13.8183333 29.165,17.5 L29.165,17.5 Z" id="Stroke-537"></path>
                                                        <path d="M5.83333333,9.16666667 C5.83333333,10.5483333 4.715,11.6666667 3.33333333,11.6666667 C1.95166667,11.6666667 0.833333333,10.5483333 0.833333333,9.16666667 C0.833333333,7.78666667 1.95166667,6.66666667 3.33333333,6.66666667 C4.715,6.66666667 5.83333333,7.78666667 5.83333333,9.16666667 L5.83333333,9.16666667 Z" id="Stroke-538"></path>
                                                        <path d="M39.1666667,3.33333333 C39.1666667,4.71333333 38.0483333,5.83333333 36.6666667,5.83333333 C35.285,5.83333333 34.1666667,4.71333333 34.1666667,3.33333333 C34.1666667,1.95166667 35.285,0.833333333 36.6666667,0.833333333 C38.0483333,0.833333333 39.1666667,1.95166667 39.1666667,3.33333333 L39.1666667,3.33333333 Z" id="Stroke-539"></path>
                                                        <path d="M5.83333333,36.6666667 C5.83333333,38.0483333 4.715,39.1666667 3.33333333,39.1666667 C1.95166667,39.1666667 0.833333333,38.0483333 0.833333333,36.6666667 C0.833333333,35.2866667 1.95166667,34.1666667 3.33333333,34.1666667 C4.715,34.1666667 5.83333333,35.2866667 5.83333333,36.6666667 L5.83333333,36.6666667 Z" id="Stroke-540"></path>
                                                        <path d="M24.9983333,36.6666667 C24.9983333,38.0483333 23.88,39.1666667 22.4983333,39.1666667 C21.1166667,39.1666667 19.9983333,38.0483333 19.9983333,36.6666667 C19.9983333,35.2866667 21.1166667,34.1666667 22.4983333,34.1666667 C23.88,34.1666667 24.9983333,35.2866667 24.9983333,36.6666667 L24.9983333,36.6666667 Z" id="Stroke-541"></path>
                                                        <path d="M5.09933333,34.8991667 L17.7993333,22.2291667" id="Stroke-542"></path>
                                                        <path d="M27.2216667,12.7946667 L34.8966667,5.103" id="Stroke-543"></path>
                                                        <path d="M5.58266667,10.2506667 L16.371,14.874" id="Stroke-544"></path>
                                                        <path d="M34.2691667,23.3821667 L28.2408333,20.8905" id="Stroke-545"></path>
                                                        <path d="M22,34.1666667 L22,24.1666667" id="Stroke-546"></path>
                                                        <path d="M39.1666667,24.1666667 C39.1666667,25.5466667 38.0483333,26.6666667 36.6666667,26.6666667 C35.2866667,26.6666667 34.1666667,25.5466667 34.1666667,24.1666667 C34.1666667,22.7866667 35.2866667,21.6666667 36.6666667,21.6666667 C38.0483333,21.6666667 39.1666667,22.7866667 39.1666667,24.1666667 L39.1666667,24.1666667 Z" id="Stroke-547"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="three-content">
                            <p class="title">任务通关制学习激励</p>
                            <p class="details">
                                Fuvism 的学习方式，为每一个学习设计其相应的学习任务。通过实际编程，逐个任务通关，完成所有任务才可进入下一个。这样的激励措施帮助学员在基础和技能的训练中循序渐进。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="three-box">
                    <div class="row">
                        <div class="three-icon">
                            <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
                            <svg width="42px" height="42px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 3.6.1 (26313) - http://www.bohemiancoding.com/sketch -->
                                <title>prioritise-icon</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="desktop" transform="translate(-249.000000, -2054.000000)">
                                        <g id="differentiators" transform="translate(0.000000, 1556.000000)">
                                            <g id="info" transform="translate(249.000000, 209.000000)">
                                                <g id="data-science" transform="translate(1.000000, 282.000000)">
                                                    <g id="prioritise-icon" transform="translate(0.000000, 8.000000)">
                                                        <path d="M20,24.1666667 L14.1666667,24.1666667 L7.5,30.8333333 L7.5,24.1666667 L0.833333333,24.1666667 L0.833333333,0.833333333 L35.8333333,0.833333333 L35.8333333,17.5" id="Stroke-195" stroke="#31B3A4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        <path d="M39.1666667,39.1666667 L19.1666667,39.1666667 L29.1666667,19.1666667 L39.1666667,39.1666667 L39.1666667,39.1666667 Z" id="Stroke-196" stroke="#31B3A4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        <path d="M29,27.3486667 L29,32.802" id="Stroke-197" stroke="#31B3A4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        <path d="M29,34.6223333 C28.4477064,34.6223333 28,35.0700398 28,35.6223333 C28,36.1746269 28.4477064,36.6241682 29,36.6241682 C29.5522936,36.6241682 30,36.1746269 30,35.6223333 C30,35.0700398 29.5522936,34.6223333 29,34.6223333" id="Fill-198" fill="#31B3A4"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="three-content">
                            <p class="title">实操学习，积累开发经验</p>
                            <p class="details">
                                Fuvism 的学习体验，全程都在实操，拒绝视频/直播的被动方式，通过不断的编程，主动和课程内容交互，同时通过代码和老师交互。写的每一句代码，都是对开发经验的积累。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="three-right">&nbsp;</div>
        </div>
    </div>
</div>
