<section id="more-course">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 animated fadeIn">
                <h2 class="text-center">职业规划，零基础起步。</h2>
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                <p>Fuvism 完整的学习规划，通过在线课程，项目实战，阶段测评，实验室，练习题库，构建了一整套完整的课程体系，借助于工单问答系统，实现从真正零基础到开发工程师的学习体验。</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-2 space-10">
                <div class="section-course-item" ui-sref="learn.plan">
                    <img src="assets/icons/plan.svg">
                    <h3>职业规划</h3>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 space-10">
                <div class="section-course-item" ui-sref="learn.course">
                    <img src="assets/icons/course.svg">
                    <h3>在线课程</h3>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 space-10">
                <div class="section-course-item" ui-sref="learn.project">
                    <img src="assets/icons/project.svg">
                    <h3>项目实战</h3>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 space-10">
                <div class="section-course-item lock">
                    <img src="assets/icons/lab.svg">
                    <h3>实验室</h3>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 space-10">
                <div class="section-course-item lock">
                    <img src="assets/icons/quiz.svg">
                    <h3>阶段测评</h3>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 space-10">
                <div class="section-course-item lock">
                    <img src="assets/icons/exercise.svg">
                    <h3>练习题库</h3>
                </div>
            </div>
        </div>
    </div>
</section>
