<div class="resetpass-email">
    <div class="container">
        <div class="resetpass-content">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>重置你的密码.</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <div class="resetpass-form-div" ng-show="!resetpassEmailSend">
                        <form role="form" name="resetpass_email_form" ng-submit="resetpassEmailForm()" novalidate>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="邮箱" ng-model="resetpassEmail" ng-class="{true: 'text-danger-important'}[resetpass_email_form.email.$invalid && resetpass_email_form.submitted]" required autofocus>
                                <label class="fa fa-at"></label>
                            </div>
                            <div class="form-error-box" ng-show="resetpass_email_form.email.$invalid && resetpass_email_form.submitted">
                                <small class="text-danger" ng-show="resetpass_email_form.email.$error">请输入一个有效的邮箱地址.</small>
                            </div>
                            <div class="form-error-box" ng-if="resetPasswordError">
                                <small class="text-danger">{{ resetPasswordError }}</small>
                            </div>
                            <button type="submit" class="ladda btn btn-lg btn-block btn-danger" ladda="resetPasswordLoading">发送 "重置密码" 邮件</button>
                        </form>
                    </div>
                    <div class="resetpass-form-div" ng-if="resetpassEmailSend">
                        <div class="text-center text-navy">
                            <p>已发送邮件，请在 10 分钟内查收并设置新的密码.</p>
                            <p>{{ resetpassEmail }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
