<div class="resetpass-email">
    <div class="container">
        <div class="resetpass-content">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>设置新的密码.</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                    <div class="resetpass-form-div" ng-show="!resetpassSuccess">
                        <form role="form" name="resetpass_confirm_form" ng-submit="resetpassConfirmForm()" novalidate>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="请输入新的密码" ng-model="resetpassPassword" ng-minlength="6" ng-maxlength="32" ng-class="{true: 'text-danger-important'}[resetpass_confirm_form.password.$invalid && resetpass_confirm_form.submitted]" required>
                                <label class="fa fa-lock"></label>
                            </div>
                            <div class="form-error-box" ng-show="resetpass_confirm_form.password.$invalid && resetpass_confirm_form.submitted">
                                <small class="text-danger" ng-show="resetpass_confirm_form.password.$error.required">请输入密码</small>
                                <small class="text-danger" ng-show="resetpass_confirm_form.password.$error.minlength">密码太短，应不少于 6 个字符</small>
                                <small class="text-danger" ng-show="resetpass_confirm_form.password.$error.maxlength">密码太长，请重新输入</small>
                            </div>
                            <button type="submit" class="ladda btn btn-lg btn-block btn-danger" ladda="resetpassLoading">提交</button>
                        </form>
                        <div class="form-error-box" ng-if="resetpassError">
                            <small class="text-danger">{{ resetpassError }}</small>
                        </div>
                    </div>
                    <div class="resetpass-form-div" ng-show="resetpassSuccess">
                        <div class="text-center text-navy">
                            <h3 class="text-navy">密码修改成功.</h3>
                            <a ui-sref="auth.login" class="btn btn-danger btn-lg btn-block">立即登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
