<div class="inmodal">
    <div class="modal-header">
        创建工单
        <a class="close" ng-click="close()">×</a>
    </div>
    <div class="modal-body white-bg">
        <form name="createticket_form" role="form" novalidate>
            <div class="form-group">
                <label>标题</label>
                <input type="text" class="form-control" name="title" ng-model="ticketInfo.title" ng-maxlength="40" required autofocus>
                <div class="m-t-xs" ng-if="createticket_form.title.$invalid && createticket_form.submitted">
                    <small class="text-danger" ng-if="createticket_form.title.$error.required">标题不能为空</small>
                    <small class="text-danger" ng-if="createticket_form.title.$error.maxlength">标题过长，不能超过 40 个字符。</small>
                </div>
            </div>
            <div class="form-group m-b-none">
                <label>描述</label>
                <textarea class="form-control" name="content" ng-model="ticketInfo.content" ng-maxlength="2048" rows="10" required></textarea>
                <div class="m-t-xs" ng-if="createticket_form.content.$invalid && createticket_form.submitted">
                    <small class="text-danger" ng-if="createticket_form.content.$error.required">描述不能为空</small>
                    <small class="text-danger" ng-if="createticket_form.content.$error.maxlength">描述超过 2048 字符限制，请修改。</small>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat-dark" ng-click="close()" ng-disabled="submitLoading">取消</button>
        <button type="button" class="ladda btn btn-primary" ng-click="submit_create_ticket()" ladda="submitLoading">立即创建</button>
    </div>
</div>
