<div class="inmodal">
    <div class="modal-body">
        <div class="text-center">
            <h2 class="m-t-none">Hi, 你还在这里吗?</h2>
            <p class="cyan-gray-bg p-xs">你目前有正在学习的课程，系统检测到你长时间没有学习。我们将在&nbsp;<timer interval="1000" countdown="61" class="text-navy">{{countdown}}s</timer>&nbsp;后自动关闭你的学习, 并停止计费。</p>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <button type="button" class="btn btn-danger btn-block" ng-click="backLearn()">返回继续学习</button>
                </div>
            </div>
        </div>
    </div>
</div>
