<section class="course-detail-desc">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="text-center">
                    <img src="assets/icons/lab.svg" width="120" height="120">
                    <h2 class="m-b-md animated fadeInDown" style="font-size: 24px;">{{ lab.name }}</h2>
                    <p class="animated fadeInDown course-description">{{ lab.description }}</p>
                    <div class="text-uppercase m-b-md">
                        <span class="ng-binding">{{ lab.ctype }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <button type="button" class="btn btn-w-m btn-block btn-primary" ng-click="lab_start()">Start Learn</button>
            </div>
        </div>
    </div>
</section>

<section class="plan-detail-info">
    <div class="container">
        <div class="row col-xs-12 col-md-10 col-md-offset-1 animated fadeInDown text-center">
            <div class="col-xs-12 col-sm-3">
                <p ng-if="lab.level_required">{{ lab.level_required }}</p>
                <p ng-if="!lab.level_required">Beginner</p>
                <small>难度|级别</small>
            </div>
            <div class="col-xs-12 col-sm-3">
                <p>¥ 0.001/s</p>
                <small>单价/每秒</small>
            </div>
            <div class="col-xs-12 col-sm-3">
                <p ng-if="labProgress.completed_percentage < 100">已完成 <span class="fa fa-level-up text-warning"> {{ labProgress.completed_percentage }}%</span></p>
                <p ng-if="labProgress.completed_percentage === 100">已完成 <span class="fa fa-level-up text-navy"> {{ labProgress.completed_percentage }}%</span></p>
                <p ng-if="!labProgress">未学习</p>
                <small>完成进度</small>
            </div>
            <div class="col-xs-12 col-sm-3">
                <!-- p>{{ lab.cloud_flavor.quota.cpus }}CPU {{ lab.cloud_flavor.quota.mem }}MB {{ lab.cloud_flavor.quota.disk }}GB</p -->
                <p>1CPU 512MB 12GB</p>
                <small>云配额</small>
            </div>
        </div>
    </div>
</section>

<section class="course-detail-path">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <pre><code>{{ lab | json}}</code></pre>
            </div>
        </div>
    </div>
</section>
