<li><a ui-sref="learn.plan">职业规划 <i class="fa fa-check text-navy pull-right" ng-if="$state.includes('learn.plan')"></i></a></li>
<li class="divider"></li>
<li><a ui-sref="learn.course">在线课程 <i class="fa fa-check text-navy pull-right" ng-if="$state.includes('learn.course')"></i></a></li>
<li class="divider"></li>
<li><a ui-sref="learn.project">项目实战 <i class="fa fa-check text-navy pull-right" ng-if="$state.includes('learn.project')"></i></a></li>
<!-- li class="divider"></li>
<li><a ui-sref="learn.lab">实验室 <i class="fa fa-check text-navy pull-right" ng-if="$state.includes('learn.lab')"></i></a></li>
<li class="divider"></li>
<li><a ui-sref="learn.quiz">阶段测评 <i class="fa fa-check text-navy pull-right" ng-if="$state.includes('learn.quiz')"></i></a></li>
<li class="divider"></li>
<li><a ui-sref="learn.exercise">练习题库 <i class="fa fa-check text-navy pull-right" ng-if="$state.includes('learn.exercise')"></i></a></li -->
