<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 animated fadeInLeft">
                <h2>职业规划</h2>
                <p class="m-t-lg">职业计划面向就业需求的技能学习，包含了软件工程师，系统工程师，前端工程师，网络工程师等不同职业范畴，由浅到深，零基础起步，可就业为止。</p>
                <button class="btn btn-primary" ui-sref="learn.plan"><i class="fa fa-arrow-circle-o-right m-r-8"></i>了解更多</button>
            </div>
            <div class="col-xs-12 col-sm-4 animated fadeInRight">
                <img src="assets/icons/plan.svg" class="img-responsive m-t-lg" width="150" style="margin: 20px auto;">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 animated fadeInLeft">
                <h2>在线课程</h2>
                <p class="m-t-lg">在线课程帮助你学习新技能，包含了入门，进修等不同级别的课程，如果你需要更完整的学习计划，请参看 "职业计划" 课程。</p>
                <button class="btn btn-primary" ui-sref="learn.course"><i class="fa fa-arrow-circle-o-right m-r-8"></i>了解更多</button>
            </div>
            <div class="col-xs-12 col-sm-4 animated fadeInRight">
                <img src="assets/icons/course.svg" class="img-responsive m-t-lg" width="150" style="margin: 20px auto;">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 animated fadeInLeft">
                <h2>项目实战</h2>
                <p class="m-t-lg">项目实战提供真实的项目开发指导，包含了项目的介绍，分析，技术说明，环境创建，编码，测试，部署等完整过程，是在你完成必要的技术学习后，实践你的技能。</p>
                <button class="btn btn-primary" ui-sref="learn.project"><i class="fa fa-arrow-circle-o-right m-r-8"></i>了解更多</button>
            </div>
            <div class="col-xs-12 col-sm-4 animated fadeInRight">
                <img src="assets/icons/project.svg" class="img-responsive m-t-lg" width="150" style="margin: 20px auto;">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 animated fadeInLeft">
                <h2>实验室</h2>
                <p class="m-t-lg">实验室提供一种环境，帮助你去深究一些知识，通过必要的指导，启发，在一种实验的环境下研究一个知识点。</p>
                <button class="btn btn-primary" disabled><i class="fa fa-times-circle-o m-r-8"></i>暂未开放</button>
            </div>
            <div class="col-xs-12 col-sm-4 animated fadeInRight">
                <img src="assets/icons/lab.svg" class="img-responsive m-t-lg" width="150" style="margin: 20px auto;">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 animated fadeInLeft">
                <h2>阶段测评</h2>
                <p class="m-t-lg">测评能评价你对某个技能的掌握情况，通过不同级别的在线的测验，评价你的技能掌握情况。</p>
                <button class="btn btn-primary" disabled><i class="fa fa-times-circle-o m-r-8"></i>暂未开放</button>
            </div>
            <div class="col-xs-12 col-sm-4 animated fadeInRight">
                <img src="assets/icons/quiz.svg" class="img-responsive m-t-lg" width="150" style="margin: 20px auto;">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 animated fadeInLeft">
                <h2>练习题库</h2>
                <p class="m-t-lg">在完成必要的课程学习后，或者课外时间，做练习你能帮助你强化知识和技能，练习题也会被作为课程的 "课后作业"。</p>
                <button class="btn btn-primary" disabled><i class="fa fa-times-circle-o m-r-8"></i>暂未开放</button>
            </div>
            <div class="col-xs-12 col-sm-4 animated fadeInRight">
                <img src="assets/icons/exercise.svg" class="img-responsive m-t-lg" width="150" style="margin: 20px auto;">
            </div>
        </div>
    </div>
</section>
