<div class="small font-oblique text-flat text-center" ng-if="followersLoading" style="margin-left: 62px;">正在加载...</div>
<div class="small font-oblique text-flat" ng-if="followers.follows.length === 0 && !followersLoading">没有找到任何粉丝。</div>
<div class="homepage-following-and-followers" ng-if="followers.follows.length > 0 && !followersLoading">
    <div class="item" ng-repeat="f in followers.follows">
        <div class="row">
            <div class="col-md-1">
                <a class="avatar" ui-sref="u.homepage({username: f.uuid})">
                    <img gravatar-src="f.gravatar">
                </a>
            </div>
            <div class="col-md-9">
                <a ui-sref="u.homepage({username: f.uuid})">
                    <span class="nickname">{{ f.nickname }}</span>
                    <span class="username">{{ f.username }}</span>
                </a>
                <p>{{ f.intro }}</p>
                <p>
                    <span class="m-r-md" ng-if="f.location">
                        <svg aria-hidden="true" class="octicon" height="12" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M6 0C2.69 0 0 2.5 0 5.5 0 10.02 6 16 6 16s6-5.98 6-10.5C12 2.5 9.31 0 6 0zm0 14.55C4.14 12.52 1 8.44 1 5.5 1 3.02 3.25 1 6 1c1.34 0 2.61.48 3.56 1.36.92.86 1.44 1.97 1.44 3.14 0 2.94-3.14 7.02-5 9.05zM8 5.5c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg>
                        {{ f.location }}
                    </span>
                    <span class="m-r-md"><i class="fa fa-clock-o m-r-8"></i>{{ f.created_at | convertZone | date : 'yyyy-MM-dd' }} 加入 Fuvism</span>
                </p>
            </div>
            <div class="col-md-2">
                <button class="btn btn-sm btn-white" ng-if="f.is_friend" ng-click="remove_friend(f.uuid, $index)">取消关注</button>
                <button class="btn btn-sm btn-white" ng-if="!f.is_friend" ng-click="add_friend(f.uuid, $index)">关注 Ta</button>
            </div>
        </div>
    </div>
    <div class="text-center">
        <ul class="pagination-md"
            uib-pagination
            total-items="followers.paging.amount"
            ng-model="followers.paging.pos"
            max-size="0"
            items-per-page="followers.paging.step"
            force-ellipses="false"
            rotate="false"
            previous-text="上一页"
            next-text="下一页"
            ng-if="followers && !followingLoading && followers.paging.amount > followers.follows.length"
            ng-change="followers_pagination()">
        </ul>
    </div>
</div>
