<div class="section-moments-header" moments-page-scroll>
    <div class="container">
        <nav role="navigation">
            <a ng-class="{selected: $state.is('home.moments')}" ui-sref="home.moments" ng-click="moments_list('public')">
                <i class="fa fa-globe m-r-sm"></i>广场
            </a>
            <a ng-class="{selected: $state.is('home.moments.friend')}" ui-sref="home.moments.friend" ng-click="moments_list('friend')" ng-if="isAuthenticated()">
                <i class="fa fa-group m-r-sm"></i>好友圈
            </a>
            <a ng-class="{selected: $state.is('home.moments.my')}" ui-sref="home.moments.my" ng-click="moments_list('my')" ng-if="isAuthenticated()">
                <i class="fa fa-heart m-r-sm"></i>我的发布
            </a>
        </nav>
    </div>
</div>
<div class="section-moments-content">
    <div class="container">
        <div class="row">
            <div ui-view>
                <div class="col-lg-8"
                     infinite-scroll="scrollLoadMoments()"
                     infinite-scroll-disabled="loading"
                     infinite-scroll-distance="0"
                     ng-if="!$state.is('home.moments.detail')">
                    <ng-include src="'app/views/moments/header.html'"></ng-include>
                    <ng-include src="'app/views/moments/content.html'"></ng-include>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-moments-content__right" ng-include="'app/views/moments/right.html'"></div>
            </div>
        </div>
    </div>
</div>
